ul.menu-list

  li.section
    a.viewing(href="#intro") イントロダクション

  li.section
    a(href="#errors") エラーについて

  li.section
    a(href="#authentication") APIの認証方法
    span.children
      a(href="#authentication_step1") HMACの生成
    span.children
      a(href="#authentication_step2") トークンの取得

  li(class="section")
    a(href="#os") オペレーティングシステム
    span.children
      a(href="#os_list") 利用可能なOSのリスティング