.method-section
  .method-description
  
    //-h1#intro API Reference (incomplete)
    h1#intro API レファレンス (作業中)
    //-code.required Notice: This API documentation is incomplete.
    code.required 注意: このAPIドキュメントは作業中です。
    //- p.
    //-   The <a href="http://jidoteki.com">Jidoteki</a> beta API is a
    //-   <a href="http://en.wikipedia.org/wiki/Representational_State_Transfer">REST</a>
    //-   API which allows you to offload and automate your operating system installations.
    //-   The API is still in beta, so this documentation will continue to be updated as new
    //-   features are added.
    p.
    <a href="http://jidoteki.com">Jidoteki</a>APIのベータ版は、
    <a href="http://en.wikipedia.org/wiki/Representational_State_Transfer">REST</a>形式のAPIになっています。
    このAPIによって、OSのインストールを自動化し作業負荷軽減することが出来ます。
    現在も<a href="http://jidoteki.com">Jidoteki</a>のAPIは開発中のため、このドキュメントも機能の追加にあわせて更新されていく予定です。 

    //-h2 Getting started
    h2 APIドキュメント内の重要単語の解説
    //-p Below you'll find some information and common keywords found throughout this documentation.
    p 以下にAPIドキュメント全体を通し、頻繁に出現するキーワードの解説をします。
    table
      tr
        //-th Keyword
        th キーワード
        //-th Description
        th 詳細
      tr
        td JSON
        //-td All results are returned as <a href="http://www.json.org/">JSON</a> strings.
        td 全てのAPIリクエストの結果は、<a href="http://www.json.org/">JSON</a>文字列の形式。
      tr
        td HTTPS
        //-td For security purposes, all API requests must be made over <a href="http://en.wikipedia.org/wiki/HTTP_Secure">HTTPS</a>.
        td セキュリティーの観点から、APIリクエストは、<a href="http://edn.wikipedia.org/wiki/HTTP_Secure">HTTPS</a>通信のみ対応。
      tr
        td TIMESTAMPS
        //- td All timestamps are returned as UNIX timestamps in UTC, with 6 digit precision (microseconds).
        td 全てのタイムスタンプは、UTC基準の6桁精度(microseconds)のUNIXタイムスタンプ。
          br
          <strong>Example:</strong> <code>1363414483.832038</code>
      tr
        td API VERSION
        //- td The API VERSION is currently set to 1. It must be specified as a header in every request.
        td 現在APIのバージョンは、1です。APIのバージョンは、リクエストのヘッダーで指定されている必要があります。
          br
          <strong>Example:</strong> <code>X-Api-Version: 1</code>
      tr
        td CONTENT-TYPE
        //- td The content-type for all requests is a standard JSON MIME media type.
        td 全てのリクエストは、content-typeにJSON MIME mediaタイプがしてされている必要があります。
          br
          <strong>Example:</strong> <code>application/json</code>
      tr
        td PARAMETERS
        //- td Request parameters must be sent as a JSON-formatted string.
        td リクエストに含まれるパラメーターは、JSON形式でする必要があります。
          br
          <strong>Example:</strong> <code>{"os_id":"debian-7.1.0"}</code>
      tr
        td HMAC
        //- td Each API request must contain an HMAC (signature) of the entire request. Details are in the Authentication section.
        td APIリクエストには、HMAC署名が記述されている必要があります。詳細に関しては、認証方法のセクションを参照してください。
      tr
        td API KEY
        //- td A user's secret API KEY is used to generate each HMAC signature.
        td シークレットAPIキーは、HMAC署名の生成に使用します。
      tr
        td ACCESS TOKENS
        //- td An access token is a temporary unique identification string sent as an HTTP header. It expires after 8 hours.
        td An access token is a temporary unique identification string sent as an HTTP header. このトークンは8時間で無効に成ります。
      tr
        td USER-AGENT
        //- td You can use almost any HTTP header User-Agent you want, limited to 128 characters.
        td HTTPヘッダーのUser-Agentには、128文字内で自由に記述することが出来ます。
          br
          <strong>Example:</strong> <code>curl/7.21.4 (macbook air @ home)</code>
      tr
        td IPv6
        //- td The API is accessible over IPv4 and IPv6.
        td IPv4又はIPv6で、APIにアクセスすることが出来ます。
          br
          <strong>Example:</strong> <code>curl --ipv6</code>
      tr
        td SHA-256
        //- td The hashing algorithm used to generate an HMAC signature is SHA-256.
        td HMAC署名を生成するために、SHA-256のハッシュ生成アルゴリズムを使用しています。
      tr
        td UID
        //- td When requesting an ACCESS TOKEN, you need to supply your UID (User ID) which is a 7-character alphanumeric string.
        td アクセストークンは、 英数７文字のUID (User ID) を記述してリクエストします。

  .method-example

    h3 API エンドポイント
    | https://api.beta.jidoteki.com

    h4 リソースURLのサマリー
    ul
      li POST /auth/user
      li GET /os/list
      li POST /image/create
      li GET /image/list
      li GET /image/details/{SERVER_ID}
      li DELETE /image/delete/{SERVER_ID}
      li GET /image/stop/{SERVER_ID}
      li POST /image/provision
      li POST /image/export
      li GET /provisioning/list
      li GET /downloads/list
      li GET /settings/images
      li GET /settings/provision
