.method-section
  .method-description

    h1#errors エラーとテータスコード
    p Below you will find a description of the JSON-formatted response for each API request.
    table
      //-caption Attributes
      caption 属性
      thead
        tr
          //-th Name
          th 名前
          //-th Description
          th 詳細
      tbody
        tr
          td type
          td The type of message returned.
            br
            strong Example: 
            <code>success</code> or <code>error</code>
        tr
          td message
          td A short description of the error.
            br
            strong Example: 
            code Unable to authenticate
        tr
          td content
          td This contains additional information regarding the response, such as an access token.
            br
            strong Example: 
            code 2e0a696ea8746b5daa6e

  .method-example

    h3 HTTP Status Code Summary
    ul
      li 200 OK - Success!
      li 400 Bad Request - You're sending invalid data to the API.
      li 403 Forbidden - Your request was not authenticated correctly.
      li 404 Not Found - The requested URL could not be found.
      li 500 Internal Server Error - A server error which is our fault. Sorry.

    h3.method-response
    pre(class="prettyprint lang-curl json").
      {"error":
        {
          "message":"Invalid Request headers",
          "content":"Please specify a valid token and signature"
        }
      }