ul.menu-list

  li.section
    a.viewing(href="#intro") Introduction

  li.section
    a(href="#errors") Errors

  li.section
    a(href="#authentication") Authentication
    span.children
      a(href="#authentication_step1") Generate HMAC
    span.children
      a(href="#authentication_step2") Get access token

  li(class="section")
    a(href="#os") Operating Systems
    span.children
      a(href="#os_list") List available OSes